name: CI
on:
  pull_request:
  push:

jobs:
  ci:
    name: CI
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "npm"

      - name: CI
        run: |
          npm ci
          npm run ci
